<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/fabric.js"></script>
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="controls">
    <p>
        <button id="add" onclick="Add()">Add a rectangle</button>
    </p>
</div>
<canvas id="board" class="board"></canvas>
</body>
<script src="/static/js/index.js"></script>
</html>