<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/fabric.js"></script>
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--- 左侧控制栏 --->
    <div class="controls" style="top: 120px">
        <span class="material-symbols-outlined tool">edit</span>
        <span class="material-symbols-outlined tool">straight</span>
        <span class="material-symbols-outlined tool">moving</span>

        <span class="material-symbols-outlined tool">circle</span>
        <span class="material-symbols-outlined tool" onclick="Add()">rectangle</span>
        <span class="material-symbols-outlined tool">change_history</span>

        <span class="material-symbols-outlined tool">text_fields</span>
    </div>
    <div class="controls" style="top: 420px;">
        <span class="material-symbols-outlined tool">undo</span>
        <span class="material-symbols-outlined tool">redo</span>
        <span class="material-symbols-outlined tool">share</span>
    </div>
    <div class="controls" style="top: 560px;">
        <span class="material-symbols-outlined tool" id="group">group_work</span>
        <span class="material-symbols-outlined tool" id="ungroup">atr</span>
    </div>
    <!--- 画布 --->
    <canvas id="board" class="board"></canvas>
</body>
<script src="/static/js/index.js"></script>
</html>