body {
    width: 100%;
    height: 100%;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}
/* 欢迎界面 */
.join {
    width: 60%;
    height: 60%;
    z-index: 20;
    border-radius: 9px;
    margin: 10% 20% 30% 20%;
    display: none;
}
/* 欢迎界面图片 */
.title {
    height: 73%;
    background: url("https://naivewhiteboard.oss-cn-shanghai.aliyuncs.com/img/welcome.jpeg") center / cover;
}
/* 屏蔽层 */
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b2ebf2;
    z-index: 15;
}
/* 控制区 */
.controls {
    width: 40px;
    left: 5px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    background-color: white;
    border-radius: 6px;
}
/* 切换页面区 */
.controls.top {
    width: 100%;
    left: 0;
    height: 30px;
    border-radius: 0;
    background-color: #eeeeee;
}
/* 自定义窗口 */
.customize {
    width: 290px;
    right: 5px;
    z-index: 10;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    top: 35px;
    display: none;
}
/* 自定义窗口的元素 */
.option {
    margin: 5%;
}
/* 人数显示 */
.users {
    right: 5px;
    bottom: 5px;
    z-index: 10;
    position: absolute;
    background-color: #ffffff;
}
/* 添加页面动画 */
@keyframes add
{
    0% {
        width: 0;
    }
    100% {
        width: 150px;
    }
}
@keyframes remove
{
    0% {
        width: 150px;
    }
    100% {
        width: 0;
    }
}
/* 页面div */
.page {
    height: 30px;
    width: 150px;
    background-color: #ffffff;
    margin-right: 3px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 9px 9px 0 0;
    /* 添加时的动画 */
    animation-name: add;
    animation-duration: 0.3s;
}
/* 页面名称 */
.page-name {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    width: 108px;
    height: 100%;
    display: inline-block;
    line-height: 30px;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
}
/* 已选中的Page */
.page-select {
    background-color: #e0e0e0 !important;
}
/* 关闭页面按钮 */
span.page-close {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    position: absolute;
    height: 100%;
    display: inline-block;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
/* 添加页面按钮 */
span.page-add {
    font-size: 22px;
    line-height: 30px;
    position: absolute;
    margin: 0 6px 0 6px;
    cursor: pointer;
}
/* 功能按钮 */
span.tool {
    cursor: pointer;
    margin: 7px;
    font-size: 26px;
}
/* 已选中的功能按钮(铅笔) */
span.select {
    color: #2196f3;
}
/* 白板 */
.board {
    width: 100%;
    height: 100%;
}
/* 推送区 */
#toastBar {
    z-index: 20;
}
/* Google Material Icon */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 500;
    src: url("https://naivewhiteboard.oss-cn-shanghai.aliyuncs.com/woff/material_outline.woff2") format('woff2');
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}